.wrapper {
  max-width: 1440px;
  width: 88%;
  margin: 0 auto; }

.btn-cornflower {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 12px 70px;
  background: #88CAC9 !important;
  border-radius: 44px;
  color: #FFFFFF;
  text-align: center;
  background: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 35px; }

.btn-white {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0.550rem 3.45rem;
  font-weight: 400;
  font-size: 18px;
  color: #7247BB;
  text-align: center;
  margin-right: 30px; }

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.480rem 3.45rem;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-align: center; }

/**********************
    Navigation Section
***********************/
.nav-menu label {
  cursor: pointer; }
.nav-menu input {
  display: none; }
.nav-menu #toggle:checked + .pop-up-navigation {
  display: flex; }

.pop-up-navigation {
  display: none;
  position: absolute;
  top: 17px;
  width: 96%;
  right: -4px;
  margin-right: 17px;
  height: 478px;
  border: 2px solid white;
  border-radius: 2%;
  background-color: white;
  z-index: 10000; }
  .pop-up-navigation a {
    text-decoration: none; }
  .pop-up-navigation .container {
    padding: 0 !important; }
  .pop-up-navigation h4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 16px;
    font-size: 18px;
    color: #6b6767; }
    .pop-up-navigation h4 .fa-times {
      font-size: 25px;
      margin-top: -10px;
      color: #28A1A3; }
      .pop-up-navigation h4 .fa-times:hover {
        color: #27717D; }
  .pop-up-navigation .pop-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    border-bottom: 2px solid #f6f9fc; }
    .pop-up-navigation .pop-flex-container .pop-column-1 {
      display: flex;
      flex-grow: 2; }
      .pop-up-navigation .pop-flex-container .pop-column-1 ul {
        list-style: none;
        padding: 0; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Products {
          color: #6772e5; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Cases {
          color: #24b47e; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Prices {
          color: #3297D3; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Developers {
          color: #8F6ED5; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Company {
          color: #ab4040; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Payments {
          color: #e39f48; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul .theme-Industry {
          color: #B76AC4; }
        .pop-up-navigation .pop-flex-container .pop-column-1 ul li {
          font-size: 20px;
          margin: 10px; }
    .pop-up-navigation .pop-flex-container .pop-column-2 {
      display: flex;
      flex-grow: 4; }
      .pop-up-navigation .pop-flex-container .pop-column-2 ul {
        list-style: none;
        padding: 0; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Products {
          color: #6772e5; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Cases {
          color: #24b47e; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Prices {
          color: #3297D3; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Developers {
          color: #8F6ED5; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Company {
          color: #ab4040; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Payments {
          color: #e39f48; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul .theme-Industry {
          color: #B76AC4; }
        .pop-up-navigation .pop-flex-container .pop-column-2 ul li {
          font-size: 20px;
          margin: 10px; }
          .pop-up-navigation .pop-flex-container .pop-column-2 ul li:nth-of-type(1) {
            color: #e39f48; }
            .pop-up-navigation .pop-flex-container .pop-column-2 ul li:nth-of-type(1) .payments {
              border: 2px solid #e39f48;
              border-radius: 25%;
              background-color: #e39f48;
              color: #fff;
              text-transform: uppercase;
              font-size: 12.5px;
              margin-left: 13px; }
  .pop-up-navigation .pop-flex-container2 {
    display: flex;
    padding-left: 25px;
    margin-bottom: 30px; }
    .pop-up-navigation .pop-flex-container2 .pop-column-3 {
      display: flex;
      flex-grow: 2; }
      .pop-up-navigation .pop-flex-container2 .pop-column-3 ul {
        list-style: none;
        padding: 0; }
        .pop-up-navigation .pop-flex-container2 .pop-column-3 ul li {
          font-size: 19px;
          font-weight: 300;
          margin: 10px;
          color: #28A1A3; }
          .pop-up-navigation .pop-flex-container2 .pop-column-3 ul li:hover {
            color: #27717d; }
    .pop-up-navigation .pop-flex-container2 .pop-column-4 {
      display: flex;
      flex-grow: 4; }
      .pop-up-navigation .pop-flex-container2 .pop-column-4 ul {
        list-style: none;
        padding: 0; }
        .pop-up-navigation .pop-flex-container2 .pop-column-4 ul li {
          font-size: 19px;
          font-weight: 300;
          margin: 10px;
          color: #28A1A3; }
          .pop-up-navigation .pop-flex-container2 .pop-column-4 ul li:hover {
            color: #27717d; }
  .pop-up-navigation .register-nav-link {
    display: flex;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f6f9fc;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%; }
    .pop-up-navigation .register-nav-link a {
      color: #28A1A3 !important;
      font-size: 18px;
      margin: 10px; }
      .pop-up-navigation .register-nav-link a:hover {
        color: #27717D !important;
        transform: translateY(3px); }
      .pop-up-navigation .register-nav-link a .fa-arrow-right {
        margin-left: 9px;
        font-size: 16px;
        color: #28A1A3; }
        .pop-up-navigation .register-nav-link a .fa-arrow-right:hover {
          color: #27717D !important; }

#developer-body #main-content {
  background-image: linear-gradient(60deg, #FADF8A 0%, #ED6149 96%);
  height: 580px; }
  @media (max-width: 576px) {
    #developer-body #main-content {
      height: 520px; } }
  #developer-body #main-content::before {
    content: none; }
  #developer-body #main-content .main-wrapper {
    background: rgba(94, 86, 73, 0.14);
    max-height: 88px; }
    @media (max-width: 910px) {
      #developer-body #main-content .main-wrapper {
        max-height: 80px; } }
  @media (max-width: 910px) {
    #developer-body #main-content .nav-1 .nav-menu {
      display: block; } }
  #developer-body #main-content .nav-1 label {
    margin-bottom: auto;
    position: relative;
    top: 6px; }
  #developer-body #main-content .nav-1 .shipoo-logo {
    min-width: 110px; }
  #developer-body #main-content .nav-1 .pop-up-navigation .box-wrapper {
    background: none; }
  #developer-body #main-content .nav-2 {
    flex: 0 0 80%;
    max-width: 85%; }
    @media (max-width: 900px) {
      #developer-body #main-content .nav-2 {
        display: none; } }
    #developer-body #main-content .nav-2 button {
      background: transparent;
      border: 2px solid #fff;
      border-radius: 40px;
      padding: 0.48rem 1.45rem;
      font-weight: 300;
      font-size: 18px;
      color: #fff;
      text-align: center; }
  #developer-body #main-content .translation-SO {
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 910px) {
      #developer-body #main-content .translation-SO {
        display: none; } }
    #developer-body #main-content .translation-SO a {
      margin-left: 15px;
      margin-right: 0;
      text-decoration: none;
      color: #ffffffed; }
    #developer-body #main-content .translation-SO img {
      margin-left: 7px; }
#developer-body #main-section {
  padding: 80px; }
  @media (max-width: 700px) {
    #developer-body #main-section {
      padding-left: 70px;
      padding-right: 70px; } }
  @media (max-width: 665px) {
    #developer-body #main-section {
      padding-left: 25px;
      padding-right: 25px; } }
  #developer-body #main-section .box-wrapper h1 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    max-width: 960px;
    margin: 0 auto;
    width: 100%; }
  #developer-body #main-section .mini-menu {
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    border: 1px solid #979797;
    border-radius: 10px;
    height: 98px;
    margin: 30px auto;
    background-color: white;
    position: relative;
    top: 245px; }
    @media (max-width: 768px) {
      #developer-body #main-section .mini-menu {
        height: 83px; } }
    @media (max-width: 992px) {
      #developer-body #main-section .mini-menu {
        top: 220px; } }
    @media (max-width: 745px) {
      #developer-body #main-section .mini-menu {
        margin: 20px auto;
        height: 85px;
        top: 200px; } }
    @media (max-width: 700px) {
      #developer-body #main-section .mini-menu {
        height: 78px;
        top: 200px; } }
    @media (max-width: 665px) {
      #developer-body #main-section .mini-menu {
        top: 220px; } }
    @media (max-width: 576px) {
      #developer-body #main-section .mini-menu {
        display: none; } }
    #developer-body #main-section .mini-menu img {
      margin-bottom: 5px; }
      @media (max-width: 745px) {
        #developer-body #main-section .mini-menu img {
          margin-bottom: 12px; } }
      @media (max-width: 768px) {
        #developer-body #main-section .mini-menu img {
          width: 3px; } }
    #developer-body #main-section .mini-menu h2:nth-of-type(1) {
      display: inline-block;
      margin: 32px;
      font-size: 1.7rem;
      font-weight: 400;
      color: #BCBBBA; }
      @media (max-width: 768px) {
        #developer-body #main-section .mini-menu h2:nth-of-type(1) {
          font-size: 1.5rem;
          margin: 28px; } }
      @media (max-width: 700px) {
        #developer-body #main-section .mini-menu h2:nth-of-type(1) {
          font-size: 1.4rem;
          margin: 30px; } }
      @media (max-width: 576px) {
        #developer-body #main-section .mini-menu h2:nth-of-type(1) {
          display: block; } }
    #developer-body #main-section .mini-menu h2:nth-of-type(2) {
      display: inline-block;
      margin: 32px;
      font-size: 1.7rem;
      font-weight: 400;
      color: red; }
      @media (max-width: 768px) {
        #developer-body #main-section .mini-menu h2:nth-of-type(2) {
          font-size: 1.5rem;
          margin: 28px; } }
      @media (max-width: 700px) {
        #developer-body #main-section .mini-menu h2:nth-of-type(2) {
          font-size: 1.4rem;
          margin: 30px; } }
#developer-body #second-section {
  padding-bottom: 260px; }
  #developer-body #second-section .box-wrapper {
    padding-top: 160px;
    padding-bottom: 50px; }
    #developer-body #second-section .box-wrapper .row {
      margin-right: 0;
      margin-left: 49px; }
      @media (max-width: 576px) {
        #developer-body #second-section .box-wrapper .row {
          margin-left: 0; } }
    #developer-body #second-section .box-wrapper h1 {
      font-weight: 600;
      margin-bottom: 50px; }
    #developer-body #second-section .box-wrapper p {
      max-width: 550px;
      width: 100%;
      color: #787673; }
    #developer-body #second-section .box-wrapper img {
      max-width: 380px;
      width: 100%; }
#developer-body #third-section {
  background-color: #FCF8EC;
  position: relative; }
  #developer-body #third-section .row {
    margin-top: 60px; }
  #developer-body #third-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: -185px;
    height: 369px;
    width: 100%;
    background-color: #fcf8ed;
    transform: skewy(-11deg); }
  #developer-body #third-section .col-sm-6.document {
    margin-bottom: -30px; }
    @media (max-width: 576px) {
      #developer-body #third-section .col-sm-6.document {
        order: 1; } }
  #developer-body #third-section .col-sm-6.article {
    margin-top: 20px; }
  #developer-body #third-section p {
    max-width: 500px;
    width: 100%;
    color: #787673; }
#developer-body #four-section {
  padding: 100px 0 270px 0; }
  #developer-body #four-section p {
    max-width: 450px;
    width: 100%; }
  #developer-body #four-section img {
    max-width: 330px;
    width: 100%; }
#developer-body #five-section {
  background-color: #F9E9E9;
  position: relative;
  padding-bottom: 60px; }
  #developer-body #five-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: -185px;
    height: 369px;
    width: 100%;
    background-color: #F9E9E9;
    transform: skewy(-11deg); }
  #developer-body #five-section .col-sm-6 .text-editor {
    max-width: 450px;
    width: 100%; }
#developer-body #subscription-section {
  background-image: linear-gradient(-92deg, #FADF8A 0%, #ED6149 96%);
  height: 450px;
  padding: 50px; }
  @media (max-width: 576px) {
    #developer-body #subscription-section {
      height: 480px; } }
  @media (max-width: 768px) {
    #developer-body #subscription-section {
      padding-left: 10px;
      padding-right: 10px; } }
  #developer-body #subscription-section h1 {
    text-align: center;
    color: #fff; }
  #developer-body #subscription-section .row {
    margin-top: 50px;
    padding-left: 29px; }
  #developer-body #subscription-section input {
    border-color: white;
    background-color: transparent;
    border-width: 3px;
    border-top-color: transparent;
    border-left: transparent;
    border-right: transparent; }
    #developer-body #subscription-section input.input-controller {
      display: block;
      width: 100%;
      padding: 1.5rem .75rem; }
    #developer-body #subscription-section input::placeholder {
      color: #fff;
      font-weight: 500;
      font-size: 25px; }
  #developer-body #subscription-section p {
    margin-top: 30px;
    color: #fff9;
    font-weight: 300; }
    @media (max-width: 576px) {
      #developer-body #subscription-section p {
        margin-bottom: 20px; } }
    #developer-body #subscription-section p a {
      color: inherit; }
    #developer-body #subscription-section p span {
      text-decoration: underline;
      font-size: 18px;
      font-weight: 400; }
  #developer-body #subscription-section .btn-column {
    display: block;
    align-self: center; }
    #developer-body #subscription-section .btn-column .btn-white {
      border-radius: 30px;
      color: #E53030;
      padding: 0.850rem 3.45rem;
      font-size: 22px;
      font-weight: 600;
      margin-left: 30px; }
      @media (max-width: 670px) {
        #developer-body #subscription-section .btn-column .btn-white {
          margin-right: 0; } }
#developer-body #developer-footer {
  background-color: #3C3935;
  padding-top: 80px;
  padding-bottom: 80px; }
  #developer-body #developer-footer .row {
    margin-bottom: 130px; }
    @media (max-width: 576px) {
      #developer-body #developer-footer .row {
        margin-bottom: 80px; } }
    @media (max-width: 576px) {
      #developer-body #developer-footer .row .col-sm-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px; } }
    #developer-body #developer-footer .row .col-sm-4 h2 {
      font-size: 23px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase; }
    #developer-body #developer-footer .row .col-sm-4 ul {
      padding: 0; }
      #developer-body #developer-footer .row .col-sm-4 ul li {
        list-style: none;
        color: #9C9698;
        font-size: 21px;
        font-weight: 300; }
  #developer-body #developer-footer .footer-logo {
    padding: 0; }
    #developer-body #developer-footer .footer-logo img {
      max-width: 140px;
      width: 100%; }
  #developer-body #developer-footer .translation-SO {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 576px) {
      #developer-body #developer-footer .translation-SO {
        margin-top: -40px; } }
    #developer-body #developer-footer .translation-SO img {
      position: relative;
      bottom: 2px;
      margin-left: 10px; }

.box-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .box-wrapper {
      max-width: 1210px; } }

#forms-body {
  background-color: #71A7A7;
  padding: 70px; }
  @media (max-width: 576px) {
    #forms-body {
      padding: 40px 10px 0px 10px; } }
  #forms-body a {
    text-decoration: none; }
  @media (max-width: 440px) {
    #forms-body .form-wrapper {
      padding: 5px; } }
  #forms-body .form-wrapper .form-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    position: relative; }
    @media (max-width: 440px) {
      #forms-body .form-wrapper .form-container {
        padding: 0px 10px 0px 10px; } }
    #forms-body .form-wrapper .form-container::before {
      content: '';
      width: 62px;
      height: 200px;
      position: absolute;
      top: -177px;
      left: 5px;
      background-image: url(../images/bubble-group.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 48px;
      transform: rotate(180deg); }
    #forms-body .form-wrapper .form-container::after {
      content: '';
      width: 62px;
      height: 200px;
      position: absolute;
      bottom: -177px;
      right: 4px;
      background-image: url(../images/bubble-group.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 48px; }
    #forms-body .form-wrapper .form-container .row {
      width: 100%;
      margin: 0; }
    #forms-body .form-wrapper .form-container .purple-banner {
      background-image: linear-gradient(-180deg, #7959CE 31%, #663BBD 69%, #442DA1 100%);
      color: #fff;
      font-family: sans-serif, "Lucida Grande";
      padding: 120px 55px;
      min-height: 470px; }
      #forms-body .form-wrapper .form-container .purple-banner .arrow-left {
        max-width: 40px;
        position: relative;
        top: -90px;
        left: 11px;
        cursor: pointer; }
      #forms-body .form-wrapper .form-container .purple-banner:before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        top: 12px;
        border: 2px solid white;
        background-color: #fff;
        border-radius: 100%; }
      @media (max-width: 750px) {
        #forms-body .form-wrapper .form-container .purple-banner {
          padding: 120px 45px; } }
      @media (max-width: 696px) {
        #forms-body .form-wrapper .form-container .purple-banner {
          display: none; } }
      @media (max-width: 1200px) {
        #forms-body .form-wrapper .form-container .purple-banner {
          flex: 0 0 100%;
          max-width: 100%; } }
      #forms-body .form-wrapper .form-container .purple-banner h1 {
        max-width: 243px;
        width: 100%;
        text-align: left;
        font-size: 33px;
        font-weight: 100; }
      #forms-body .form-wrapper .form-container .purple-banner p {
        margin: 0;
        max-width: 348px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 15px;
        font-weight: 100;
        text-align: left;
        opacity: 0.8; }
      @media (max-width: 720px) {
        #forms-body .form-wrapper .form-container .purple-banner .btn-white {
          padding: 0.550rem 2.75rem; } }
      #forms-body .form-wrapper .form-container .purple-banner .btn-white:hover {
        border-color: #ffffffdb;
        color: #7247bbb5; }
      @media (max-width: 720px) {
        #forms-body .form-wrapper .form-container .purple-banner .btn-transparent {
          padding: 0.550rem 2.75rem; } }
      #forms-body .form-wrapper .form-container .purple-banner .btn-transparent:hover {
        border-color: #ffffff8c;
        color: #ffffffcc; }
    #forms-body .form-wrapper .form-container .form-menu {
      text-align: center;
      padding: 60px 0; }
      @media (max-width: 1200px) {
        #forms-body .form-wrapper .form-container .form-menu {
          flex: 0 0 100%;
          max-width: 100%; } }
      @media (max-width: 576px) {
        #forms-body .form-wrapper .form-container .form-menu {
          flex: 0 0 90%;
          max-width: 90%;
          margin: 0 auto; } }
      #forms-body .form-wrapper .form-container .form-menu .hidden-xs-header {
        font-size: 2.0rem; }
        @media (max-width: 1100px) {
          #forms-body .form-wrapper .form-container .form-menu .hidden-xs-header {
            font-size: 1.7rem; } }
        @media (max-width: 440px) {
          #forms-body .form-wrapper .form-container .form-menu .hidden-xs-header {
            display: none; } }
      #forms-body .form-wrapper .form-container .form-menu .hidden-xl-header {
        display: none; }
        @media (max-width: 440px) {
          #forms-body .form-wrapper .form-container .form-menu .hidden-xl-header {
            display: block;
            font-size: 27px; } }
      #forms-body .form-wrapper .form-container .form-menu p {
        font-size: 15px;
        width: 100%;
        max-width: 375px;
        margin: 0 auto; }
    #forms-body .form-wrapper .form-container form {
      margin-top: 40px; }
      #forms-body .form-wrapper .form-container form .I-agree {
        color: #B5BBB5;
        font-weight: 500; }
      #forms-body .form-wrapper .form-container form .terms-rule {
        color: #86CACA; }
      #forms-body .form-wrapper .form-container form input::placeholder {
        color: #B5BBB5; }
      #forms-body .form-wrapper .form-container form input[type="text"] {
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        width: 56%;
        padding-bottom: 13px;
        font-size: 15px;
        margin-bottom: 20px;
        background-image: url(../images/user.png);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: left 5px; }
        @media (max-width: 430px) {
          #forms-body .form-wrapper .form-container form input[type="text"] {
            width: 75%; } }
      #forms-body .form-wrapper .form-container form input[type="email"] {
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        width: 56%;
        padding-bottom: 13px;
        font-size: 15px;
        margin-bottom: 20px;
        background-image: url(../images/envelope.png);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: left 7px; }
        @media (max-width: 430px) {
          #forms-body .form-wrapper .form-container form input[type="email"] {
            width: 75%; } }
      #forms-body .form-wrapper .form-container form input[type="password"] {
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: center;
        width: 56%;
        padding-bottom: 13px;
        font-size: 15px;
        margin-bottom: 20px;
        background-image: url(../images/lock.png);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: left 7px; }
        @media (max-width: 430px) {
          #forms-body .form-wrapper .form-container form input[type="password"] {
            width: 75%; } }
      #forms-body .form-wrapper .form-container form label {
        display: table;
        margin-left: 23%;
        color: #B5BBB5;
        font-weight: 500; }
        @media (max-width: 430px) {
          #forms-body .form-wrapper .form-container form label {
            font-size: 15px;
            margin-left: 11%; } }
      #forms-body .form-wrapper .form-container form input[type="checkbox"] {
        display: none; }
        #forms-body .form-wrapper .form-container form input[type="checkbox"] + .agree-span::before {
          content: "\f096";
          font-family: "FontAwesome";
          color: #979797;
          padding-right: 20px; }
        #forms-body .form-wrapper .form-container form input[type="checkbox"] + .agree-span:checked {
          background-color: red; }
      #forms-body .form-wrapper .form-container form .terms-span {
        margin-left: 7px;
        color: #86CACA; }
        #forms-body .form-wrapper .form-container form .terms-span a {
          text-decoration: none;
          color: inherit; }
    #forms-body .form-wrapper .form-container .btn-cornflower {
      margin-top: 39px; }
      #forms-body .form-wrapper .form-container .btn-cornflower:hover {
        transform: translatey(2px); }
      #forms-body .form-wrapper .form-container .btn-cornflower::before {
        content: '';
        width: 50px;
        height: 50px;
        background-image: url(../images/arrow-right.png);
        position: absolute;
        left: 148px;
        bottom: -2px;
        background-size: 7px;
        background-repeat: no-repeat;
        background-position: left center; }
  #forms-body .form-wrapper .login-exist-link {
    color: #000;
    margin-right: 10px; }
  #forms-body .form-wrapper .login-span-link {
    color: darkorange;
    font-weight: 500;
    font-size: 15px; }

#main-footer {
  background-color: #262A31;
  padding: 60px 0px 80px 0px; }
  #main-footer .footer-column-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 45px;
    padding-left: 148px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #3C3F46;
    background-image: url(../images/shippo_logo.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 15% 140%; }
    @media (max-width: 850px) {
      #main-footer .footer-column-1 {
        padding-left: 15px;
        background-image: none; } }
    @media (max-width: 622px) {
      #main-footer .footer-column-1 {
        padding-right: 0; } }
    @media (max-width: 576px) {
      #main-footer .footer-column-1 {
        justify-content: center;
        padding: 0; } }
    #main-footer .footer-column-1 .column-contain-footer {
      flex: 0 0 50%;
      max-width: 50%; }
      @media (max-width: 576px) {
        #main-footer .footer-column-1 .column-contain-footer {
          flex: 0 0 60%;
          max-width: 100%; } }
  #main-footer h1 {
    color: #3CB28B;
    font-weight: 200;
    font-size: 2.0rem; }
  #main-footer p {
    color: #ffffffed;
    font-weight: 200;
    padding-bottom: 55px; }
  #main-footer .button-1 {
    background-image: radial-gradient(83% 82%, #38ae90 32%, #31A998 32%, #28A2A2 32%, #34AC94 32%, #3FB589 65%);
    border: 1px solid transparent;
    border-radius: 100px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 13px;
    padding: 13px 26px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif; }
    @media (max-width: 622px) {
      #main-footer .button-1 {
        margin-bottom: 20px; } }
  #main-footer .footer-column-2 {
    padding: 100px 30px; }
    @media (max-width: 768px) {
      #main-footer .footer-column-2 {
        padding-left: 0;
        padding-right: 0; } }
    @media (max-width: 576px) {
      #main-footer .footer-column-2 {
        text-align: center; } }
    #main-footer .footer-column-2 .row {
      justify-content: center; }
    @media (max-width: 576px) {
      #main-footer .footer-column-2 .footer-item {
        margin-bottom: 30px; } }
    #main-footer .footer-column-2 h4 {
      color: #fff;
      font-size: 1.0rem;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 40px; }
      @media (max-width: 576px) {
        #main-footer .footer-column-2 h4 {
          margin-bottom: 20px; } }
    #main-footer .footer-column-2 ul {
      list-style: none;
      padding: 0; }
      #main-footer .footer-column-2 ul li {
        color: #ffffffb8;
        padding: 7px;
        font-size: 15px; }
        #main-footer .footer-column-2 ul li a {
          text-decoration: none;
          color: inherit; }
  #main-footer .shippo-column {
    display: flex;
    justify-content: center; }
    #main-footer .shippo-column img {
      width: 76px;
      height: 76px; }
  #main-footer .copyright-text {
    text-align: center;
    color: #ffffffb8; }
    @media (max-width: 576px) {
      #main-footer .copyright-text {
        font-size: 15px; } }

#main-content {
  background-image: linear-gradient(to right top, #14b1c1, #00b1b3, #00b0a0, #00ae8a, #10ab70);
  font-family: "Lato", sans-serif;
  height: 490px;
  position: relative; }
  #main-content::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    top: 415px;
    transform: skewy(-4deg);
    height: 146px; }
  #main-content nav .container {
    max-width: 100%;
    padding: 25px 0; }
  #main-content .nav-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 30px; }
  #main-content .img-logo {
    width: 110px;
    align-self: center;
    margin-left: 25px; }
  #main-content .nav-menu {
    display: none; }
    @media (max-width: 830px) {
      #main-content .nav-menu {
        display: block; } }
    #main-content .nav-menu .fa-bars {
      font-size: 23px;
      color: white; }
  #main-content .nav-2 {
    display: flex;
    flex: 0 0 85%;
    max-width: 85%;
    margin-left: 0;
    align-items: center;
    justify-content: flex-end; }
    #main-content .nav-2 a {
      color: white;
      text-decoration: none;
      font-weight: 100;
      margin-right: 45px; }
    #main-content .nav-2 .link-button {
      margin-right: 0; }
    @media (max-width: 830px) {
      #main-content .nav-2 {
        display: none; } }
  #main-content .nav-2 .btn-light {
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    padding: .665rem 1.05rem;
    color: #23ab85; }
    #main-content .nav-2 .btn-light:hover {
      transform: translateY(6px); }
  #main-content .nav-contain {
    display: flex;
    justify-content: space-between;
    padding-left: 0; }
  @media (max-width: 768px) {
    #main-content .jumbo .laptop-col {
      display: none; } }
  #main-content .jumbo h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 200; }
  #main-content .jumbo p {
    color: white;
    font-weight: 100;
    margin-bottom: 35px; }
  #main-content .jumbo a {
    color: white;
    text-decoration: underline;
    font-weight: 100;
    margin: 0; }
  #main-content .jumbo .btn-light {
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    color: #23b6c5;
    padding: .665rem 1.05rem;
    padding-top: 14px;
    margin-right: 25px; }
    @media (max-width: 992px) {
      #main-content .jumbo .btn-light {
        margin-right: 8px; } }
  #main-content .jumbo ul {
    padding-left: 0; }

/**********************
    Sponsor Section
***********************/
#sponsorship {
  margin-top: 185px;
  text-align: center;
  color: #acb8bf; }
  @media (max-width: 576px) {
    #sponsorship {
      margin-top: 220px; } }
  #sponsorship h4 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px; }
  #sponsorship .wrapper {
    max-width: 1440px;
    margin: 0 auto; }
  #sponsorship .brands-feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));
    grid-column-gap: 60px;
    align-items: center;
    padding: 0; }
    @media (max-width: 576px) {
      #sponsorship .brands-feature {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 100px);
        grid-row-gap: 45px; } }
    #sponsorship .brands-feature li {
      list-style: none; }
    #sponsorship .brands-feature img {
      width: 150px; }
      @media (max-width: 576px) {
        #sponsorship .brands-feature img {
          width: 210px; } }

/**********************
    Shipping Products
***********************/
#shipping-products {
  padding: 20px 77px 70px 60px;
  text-align: center; }
  @media (max-width: 576px) {
    #shipping-products {
      padding: 50px 0; } }
  #shipping-products h1 {
    font-weight: 200;
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 576px) {
      #shipping-products h1 {
        max-width: 1440px;
        width: 91%;
        margin: 0 auto;
        font-size: 1.8rem; } }
  #shipping-products .shipping-features {
    padding: 0;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-template-rows: 300px;
    align-content: center; }
    @media (max-width: 576px) {
      #shipping-products .shipping-features {
        margin-top: 35px; } }
    #shipping-products .shipping-features h5 {
      color: #28A1A3;
      font-weight: 300; }
    #shipping-products .shipping-features p {
      color: #6b6767;
      font-weight: 100; }
  #shipping-products .label-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .label-feature img {
      max-width: 220px;
      margin: 0 auto; }
  #shipping-products .tracking-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .tracking-feature img {
      max-width: 220px;
      margin: 20px auto; }
    #shipping-products .tracking-feature h5 {
      margin-top: auto; }
    @media (max-width: 576px) {
      #shipping-products .tracking-feature {
        margin-top: 17px; } }
  #shipping-products .agreement-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .agreement-feature img {
      max-width: 220px;
      margin: 27px auto; }
    #shipping-products .agreement-feature h5 {
      margin-top: auto; }

/**********************
    API Feature
***********************/
#api-feature {
  height: 600px;
  padding: 30px; }
  @media (max-width: 576px) {
    #api-feature {
      padding: 0;
      height: 1150px; } }
  #api-feature .wrapper {
    max-width: 1650px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 576px) {
      #api-feature .wrapper {
        padding: 0; } }
  #api-feature .row {
    width: 100%; }
  @media (max-width: 768px) {
    #api-feature .shipping-msg {
      margin-bottom: 20px; } }
  @media (max-width: 576px) {
    #api-feature .shipping-msg {
      padding-left: 40px; } }
  #api-feature h4 {
    font-weight: 300;
    font-size: 29px;
    width: 68%;
    max-width: 100%;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      #api-feature h4 {
        text-align: center;
        width: 100%;
        font-size: 28px; } }
  #api-feature p {
    color: #6b6767;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 50px; }
  #api-feature ul {
    padding: 0; }
  #api-feature .btn-green {
    border-color: #44bb8c;
    border-bottom-color: #25a0a5;
    border-radius: 1.9rem;
    border-width: 2px;
    border-style: solid;
    color: #50ab97;
    padding: .755rem 1.4rem;
    margin-right: 12px; }
  #api-feature a {
    text-decoration: underline;
    color: #62bcbf;
    font-size: 17px; }
  #api-feature .shippo-large {
    z-index: 10000; }
    @media (max-width: 1000px) {
      #api-feature .shippo-large {
        display: none; } }
  #api-feature .shippo-hide {
    display: none; }
    @media (max-width: 1000px) {
      #api-feature .shippo-hide {
        display: flex; } }
    @media (max-width: 576px) {
      #api-feature .shippo-hide {
        display: none; } }
  #api-feature .iphone-x {
    display: none;
    padding: 0; }
    @media (max-width: 576px) {
      #api-feature .iphone-x {
        display: flex;
        flex: 0 0 25%;
        padding: 0 20px;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 20px; } }

/**********************
    Global Feature
***********************/
#global-feature {
  min-height: 800px;
  background-image: linear-gradient(to right top, #14b1c1, #00b1b3, #00b0a0, #00ae8a, #10ab70);
  position: relative;
  padding: 200px 20px 100px 20px; }
  @media (max-width: 576px) {
    #global-feature {
      padding: 0px 20px; } }
  #global-feature::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    top: -118px;
    transform: skewy(-7deg);
    height: 236px; }
  #global-feature::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    bottom: -51px;
    height: 104px;
    transform: skewY(3deg); }
  #global-feature .row {
    justify-content: center; }
  #global-feature h1 {
    font-weight: 300;
    font-size: 27px;
    color: #fff;
    margin-bottom: 30px; }
  #global-feature p {
    color: #fff;
    font-weight: 100;
    margin-bottom: 40px; }
  #global-feature .global-sponsors {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(131px, 150px));
    justify-content: center; }
    @media (max-width: 992px) {
      #global-feature .global-sponsors {
        grid-row-gap: 30px; } }
    @media (max-width: 576px) {
      #global-feature .global-sponsors {
        grid-template-columns: repeat(2, 150px);
        grid-row-gap: 30px;
        height: 300px; } }
    #global-feature .global-sponsors li {
      border: 2px solid white;
      width: 96px;
      height: 90px;
      border-radius: 50%;
      background-color: white;
      justify-self: center;
      z-index: 10000; }
    #global-feature .global-sponsors li:nth-of-type(1) img {
      max-width: 47px;
      margin-left: 23px;
      margin-top: 16px; }
    #global-feature .global-sponsors li:nth-of-type(2) img {
      max-width: 72px;
      margin-top: 29px;
      margin-left: 11px; }
    #global-feature .global-sponsors li:nth-of-type(3) img {
      max-width: 81px;
      height: 18px;
      margin-top: 32px;
      margin-left: 4px; }
    #global-feature .global-sponsors img {
      max-width: 45px;
      margin-left: 14px;
      margin-top: 10px; }
    #global-feature .global-sponsors li:nth-of-type(4) img {
      max-width: 69px;
      margin-left: 11px;
      margin-top: 18px; }
    #global-feature .global-sponsors li:nth-of-type(5) img {
      max-width: 69px;
      margin-left: 12px;
      margin-top: 10px;
      border-radius: 100%; }
    #global-feature .global-sponsors li:nth-of-type(6) img {
      max-width: 55px;
      margin-left: 19px;
      margin-top: 22px; }
  #global-feature .btn-whitish {
    display: block;
    margin: 60px auto 0;
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    padding: 0.965rem 2rem;
    color: #23b6c5;
    font-size: 17px; }
    @media (max-width: 576px) {
      #global-feature .btn-whitish {
        padding: .965rem 1rem; } }

#customer-solutions {
  text-align: center;
  background-color: #f3f6f8;
  padding: 147px 0 110px 0; }
  #customer-solutions h1 {
    font-size: 2.2rem;
    font-weight: 300; }
    @media (max-width: 576px) {
      #customer-solutions h1 {
        font-size: 1.9rem; } }
  #customer-solutions .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: 620px;
    grid-column-gap: 50px;
    margin-top: 70px;
    justify-content: center; }
    @media (max-width: 963px) {
      #customer-solutions .card-container {
        grid-row-gap: 120px; } }
    #customer-solutions .card-container .card-1 {
      display: flex;
      flex-direction: column;
      height: 100%; }
      #customer-solutions .card-container .card-1 .card-head {
        position: relative;
        min-height: 159px;
        background-color: #a886ce;
        background-image: url("../images/shipping-card-icon.png");
        background-repeat: no-repeat;
        background-size: 100%; }
        #customer-solutions .card-container .card-1 .card-head:before {
          content: '';
          position: absolute;
          left: 38%;
          top: 22%;
          border: 2px solid white;
          width: 96px;
          height: 90px;
          border-radius: 50%;
          background-image: url(../images/cart_icon.png);
          background-color: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 71%; }
      #customer-solutions .card-container .card-1 .card-content {
        position: relative;
        padding: 44px 24px 62px 24px;
        height: 100%;
        background-color: #fff; }
        #customer-solutions .card-container .card-1 .card-content:after {
          content: '';
          position: absolute;
          width: 32px;
          left: 173px;
          top: 163px;
          height: 9%;
          color: red;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../images/lines.png); }
          @media (max-width: 450px) {
            #customer-solutions .card-container .card-1 .card-content:after {
              left: 140px;
              top: 180px; } }
        #customer-solutions .card-container .card-1 .card-content h4 {
          margin: 0; }
        #customer-solutions .card-container .card-1 .card-content p {
          max-width: 263px;
          width: 100%;
          margin: 20px auto;
          font-weight: 200; }
        #customer-solutions .card-container .card-1 .card-content .card-list {
          list-style: none;
          text-align: left;
          margin-top: 72px;
          margin-bottom: 75px;
          padding-left: 35px; }
          #customer-solutions .card-container .card-1 .card-content .card-list li {
            position: relative;
            margin-top: 25px; }
            #customer-solutions .card-container .card-1 .card-content .card-list li span {
              margin-right: 10px; }
              #customer-solutions .card-container .card-1 .card-content .card-list li span .fa-check-circle {
                font-size: 22px;
                color: #aa8dc1; }
                #customer-solutions .card-container .card-1 .card-content .card-list li span .fa-check-circle:before {
                  bottom: -2px;
                  position: relative; }
        #customer-solutions .card-container .card-1 .card-content a {
          color: #000;
          text-decoration: underline;
          font-weight: 200; }
    #customer-solutions .card-container .card-2 {
      display: flex;
      flex-direction: column;
      height: 100%; }
      #customer-solutions .card-container .card-2 .card-head {
        position: relative;
        min-height: 158px;
        background-image: url("../images/shipping-box.png");
        background-repeat: no-repeat;
        background-size: 100%; }
        #customer-solutions .card-container .card-2 .card-head:before {
          content: '';
          position: absolute;
          left: 38%;
          top: 22%;
          border: 2px solid white;
          width: 96px;
          height: 90px;
          border-radius: 50%;
          background-image: url(../images/push-cart.png);
          background-color: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 57%; }
      #customer-solutions .card-container .card-2 .card-content {
        position: relative;
        padding: 45px 24px 62px 24px;
        height: 100%;
        background-color: #fff; }
        #customer-solutions .card-container .card-2 .card-content:after {
          content: '';
          position: absolute;
          width: 32px;
          left: 173px;
          top: 163px;
          height: 9%;
          color: red;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../images/lines.png);
          top: 164px; }
          @media (max-width: 450px) {
            #customer-solutions .card-container .card-2 .card-content:after {
              left: 150px; } }
        #customer-solutions .card-container .card-2 .card-content h4 {
          margin: 0; }
        #customer-solutions .card-container .card-2 .card-content p {
          max-width: 280px;
          width: 100%;
          margin: 11px auto;
          font-weight: 200; }
        #customer-solutions .card-container .card-2 .card-content .card-list {
          list-style: none;
          text-align: left;
          margin-top: 77px;
          margin-bottom: 81px;
          padding-left: 35px; }
          #customer-solutions .card-container .card-2 .card-content .card-list li {
            position: relative;
            margin-top: 25px; }
            #customer-solutions .card-container .card-2 .card-content .card-list li span {
              margin-right: 10px; }
              #customer-solutions .card-container .card-2 .card-content .card-list li span .fa-check-circle {
                font-size: 22px;
                color: #d1eaec; }
                #customer-solutions .card-container .card-2 .card-content .card-list li span .fa-check-circle:before {
                  bottom: -2px;
                  position: relative; }
        #customer-solutions .card-container .card-2 .card-content a {
          color: #000;
          text-decoration: underline;
          font-weight: 200; }

/**************************
  Customer Satisfication
**************************/
#customer-satisfication {
  padding: 40px 30px;
  text-align: center; }
  #customer-satisfication h1 {
    margin: 0;
    font-weight: 300; }
    @media (max-width: 576px) {
      #customer-satisfication h1 {
        font-size: 1.9rem;
        margin-bottom: 25px;
        font-weight: 400; } }
  #customer-satisfication p {
    max-width: 480px;
    width: 100%;
    margin: 10px auto 60px auto; }
  #customer-satisfication .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; }
  #customer-satisfication .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(322px, 392px));
    grid-template-rows: 482px;
    grid-column-gap: 30px;
    justify-content: center; }
    @media (max-width: 1200px) {
      #customer-satisfication .box-container {
        grid-row-gap: 10px; } }
    @media (max-width: 500px) {
      #customer-satisfication .box-container {
        grid-column-gap: 0;
        grid-template-rows: 410px; } }

/*# sourceMappingURL=stylesheet.css.map */
