.wrapper {
  max-width: 1440px;
  width: 88%;
  margin: 0 auto; }

#main-footer {
  background-color: #262A31;
  height: 800px; }

#main-content {
  background-image: linear-gradient(to right top, #14b1c1, #00b1b3, #00b0a0, #00ae8a, #10ab70);
  font-family: 'Tajawal', sans-serif;
  height: 490px;
  position: relative; }
  #main-content::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    top: 415px;
    transform: skewy(-4deg);
    height: 146px; }
  #main-content nav .container {
    max-width: 100%;
    padding: 25px 0; }
  #main-content .nav-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 30px; }
  #main-content .img-logo {
    width: 110px;
    align-self: center;
    margin-left: 25px; }
  #main-content .nav-menu {
    display: none; }
    @media (max-width: 768px) {
      #main-content .nav-menu {
        display: block; } }
    #main-content .nav-menu .fa-bars {
      font-size: 23px;
      color: white; }
  #main-content .nav-2 {
    display: flex;
    flex: 0 0 85%;
    max-width: 85%;
    margin-left: 0;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 767px) {
      #main-content .nav-2 {
        display: none; } }
  #main-content a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    margin-right: 45px; }
  #main-content .nav-2 .btn-light {
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    padding: .665rem 1.05rem;
    color: #23ab85; }
  #main-content .nav-contain {
    display: flex;
    justify-content: space-between;
    padding-left: 0; }
  @media (max-width: 768px) {
    #main-content .jumbo .laptop-col {
      display: none; } }
  #main-content .jumbo h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 200; }
  #main-content .jumbo p {
    color: white;
    font-weight: 100;
    margin-bottom: 35px; }
  #main-content .jumbo a {
    color: white;
    text-decoration: underline;
    font-weight: 100;
    margin: 0; }
  #main-content .jumbo .btn-light {
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    color: #23b6c5;
    padding: .665rem 1.05rem;
    padding-top: 14px;
    margin-right: 25px; }
    @media (max-width: 992px) {
      #main-content .jumbo .btn-light {
        margin-right: 23px; } }
  #main-content .jumbo ul {
    padding-left: 0; }

/**********************
    Sponsor Section
***********************/
#sponsorship {
  margin-top: 185px;
  text-align: center;
  color: #acb8bf; }
  @media (max-width: 576px) {
    #sponsorship {
      margin-top: 220px; } }
  #sponsorship h4 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px; }
  #sponsorship .wrapper {
    max-width: 1440px;
    margin: 0 auto; }
  #sponsorship .brands-feature {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
    grid-column-gap: 60px;
    align-items: center;
    padding: 0; }
    @media (max-width: 576px) {
      #sponsorship .brands-feature {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 100px);
        grid-row-gap: 45px; } }
    #sponsorship .brands-feature li {
      list-style: none; }
    #sponsorship .brands-feature img {
      width: 170px; }
      @media (max-width: 576px) {
        #sponsorship .brands-feature img {
          width: 210px; } }

/**********************
    Shipping Products
***********************/
#shipping-products {
  padding: 20px 77px 70px 60px;
  text-align: center; }
  @media (max-width: 576px) {
    #shipping-products {
      padding: 50px 0; } }
  #shipping-products h1 {
    font-weight: 200;
    width: 65%;
    margin: 0 auto; }
    @media (max-width: 576px) {
      #shipping-products h1 {
        max-width: 1440px;
        width: 91%;
        margin: 0 auto;
        font-size: 1.8rem; } }
  #shipping-products .shipping-features {
    padding: 0;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    grid-template-rows: 300px;
    align-content: center; }
    @media (max-width: 576px) {
      #shipping-products .shipping-features {
        margin-top: 35px; } }
    #shipping-products .shipping-features h5 {
      color: #28A1A3;
      font-weight: 300; }
    #shipping-products .shipping-features p {
      color: #6b6767;
      font-weight: 100; }
  #shipping-products .label-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .label-feature img {
      max-width: 220px;
      margin: 0 auto; }
  #shipping-products .tracking-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .tracking-feature img {
      max-width: 220px;
      margin: 20px auto; }
    #shipping-products .tracking-feature h5 {
      margin-top: auto; }
    @media (max-width: 576px) {
      #shipping-products .tracking-feature {
        margin-top: 17px; } }
  #shipping-products .agreement-feature {
    display: flex;
    flex-direction: column; }
    #shipping-products .agreement-feature img {
      max-width: 220px;
      margin: 27px auto; }
    #shipping-products .agreement-feature h5 {
      margin-top: auto; }

/**********************
    API Feature
***********************/
#api-feature {
  height: 600px;
  padding: 30px; }
  @media (max-width: 576px) {
    #api-feature {
      padding: 0;
      height: 1150px; } }
  #api-feature .wrapper {
    max-width: 1650px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 576px) {
      #api-feature .wrapper {
        padding: 0; } }
  #api-feature .row {
    width: 100%; }
  @media (max-width: 768px) {
    #api-feature .shipping-msg {
      margin-bottom: 20px; } }
  @media (max-width: 576px) {
    #api-feature .shipping-msg {
      padding-left: 40px; } }
  #api-feature h4 {
    font-weight: 300;
    font-size: 29px;
    width: 68%;
    max-width: 100%;
    margin-bottom: 30px; }
    @media (max-width: 576px) {
      #api-feature h4 {
        text-align: center;
        width: 100%;
        font-size: 28px; } }
  #api-feature p {
    color: #6b6767;
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 50px; }
  #api-feature ul {
    padding: 0; }
  #api-feature .btn-green {
    border-color: #44bb8c;
    border-bottom-color: #25a0a5;
    border-radius: 1.9rem;
    border-width: 2px;
    border-style: solid;
    color: #50ab97;
    padding: .755rem 1.4rem;
    margin-right: 12px; }
  #api-feature a {
    text-decoration: underline;
    color: #62bcbf;
    font-size: 17px; }
  #api-feature .shippo-large {
    z-index: 10000; }
    @media (max-width: 1000px) {
      #api-feature .shippo-large {
        display: none; } }
  #api-feature .shippo-hide {
    display: none; }
    @media (max-width: 1000px) {
      #api-feature .shippo-hide {
        display: flex; } }
    @media (max-width: 576px) {
      #api-feature .shippo-hide {
        display: none; } }
  #api-feature .iphone-x {
    display: none;
    padding: 0; }
    @media (max-width: 576px) {
      #api-feature .iphone-x {
        display: flex;
        flex: 0 0 25%;
        padding: 0 20px; } }

/**********************
    Global Feature
***********************/
#global-feature {
  min-height: 800px;
  background-image: linear-gradient(to right top, #14b1c1, #00b1b3, #00b0a0, #00ae8a, #10ab70);
  position: relative;
  padding: 200px 20px 100px 20px; }
  @media (max-width: 576px) {
    #global-feature {
      padding: 0px 20px; } }
  #global-feature::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    top: -118px;
    transform: skewy(-7deg);
    height: 236px; }
  #global-feature::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, #14b1c1, #00b1b3, #00b0a0, #00AE8C, #10ab70);
    bottom: -51px;
    height: 104px;
    transform: skewY(3deg); }
  #global-feature .row {
    justify-content: center; }
  #global-feature h1 {
    font-weight: 300;
    font-size: 27px;
    color: #fff;
    margin-bottom: 30px; }
  #global-feature p {
    color: #fff;
    font-weight: 100;
    margin-bottom: 40px; }
  #global-feature .global-sponsors {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(131px, 150px));
    justify-content: center; }
    @media (max-width: 992px) {
      #global-feature .global-sponsors {
        grid-row-gap: 30px; } }
    @media (max-width: 576px) {
      #global-feature .global-sponsors {
        grid-template-columns: repeat(2, 150px);
        grid-row-gap: 30px;
        height: 300px; } }
    #global-feature .global-sponsors li {
      border: 2px solid white;
      width: 96px;
      height: 90px;
      border-radius: 50%;
      background-color: white;
      justify-self: center;
      z-index: 10000; }
    #global-feature .global-sponsors li:nth-of-type(1) img {
      max-width: 47px;
      margin-left: 23px;
      margin-top: 16px; }
    #global-feature .global-sponsors li:nth-of-type(2) img {
      max-width: 72px;
      margin-top: 29px;
      margin-left: 11px; }
    #global-feature .global-sponsors li:nth-of-type(3) img {
      max-width: 81px;
      height: 18px;
      margin-top: 32px;
      margin-left: 4px; }
    #global-feature .global-sponsors img {
      max-width: 45px;
      margin-left: 14px;
      margin-top: 10px; }
    #global-feature .global-sponsors li:nth-of-type(4) img {
      max-width: 69px;
      margin-left: 11px;
      margin-top: 18px; }
    #global-feature .global-sponsors li:nth-of-type(5) img {
      max-width: 69px;
      margin-left: 12px;
      margin-top: 10px;
      border-radius: 100%; }
    #global-feature .global-sponsors li:nth-of-type(6) img {
      max-width: 55px;
      margin-left: 19px;
      margin-top: 22px; }
  #global-feature .btn-whitish {
    display: block;
    margin: 60px auto 0;
    border-radius: 2.35rem;
    border-color: white;
    background-color: white;
    padding: 0.965rem 2rem;
    color: #23b6c5;
    font-size: 17px; }

#customer-solutions {
  text-align: center;
  background-color: #f3f6f8;
  padding: 147px 0 110px 0; }
  #customer-solutions h1 {
    font-size: 2.2rem;
    font-weight: 300; }
    @media (max-width: 576px) {
      #customer-solutions h1 {
        font-size: 1.9rem; } }
  #customer-solutions .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: 620px;
    grid-column-gap: 50px;
    margin-top: 70px;
    justify-content: center; }
    @media (max-width: 963px) {
      #customer-solutions .card-container {
        grid-row-gap: 102px; } }
    #customer-solutions .card-container .card-1 {
      display: flex;
      flex-direction: column;
      height: 100%; }
      #customer-solutions .card-container .card-1 .card-head {
        position: relative;
        min-height: 159px;
        background-color: #a886ce;
        background-image: url("../images/shipping-card-icon.png");
        background-repeat: no-repeat;
        background-size: 100%; }
        #customer-solutions .card-container .card-1 .card-head:before {
          content: '';
          position: absolute;
          left: 38%;
          top: 22%;
          border: 2px solid white;
          width: 96px;
          height: 90px;
          border-radius: 50%;
          background-image: url(../images/cart_icon.png);
          background-color: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 71%; }
      #customer-solutions .card-container .card-1 .card-content {
        position: relative;
        padding: 44px 24px 62px 24px;
        height: 100%;
        background-color: #fff; }
        #customer-solutions .card-container .card-1 .card-content:after {
          content: '';
          position: absolute;
          width: 32px;
          left: 173px;
          top: 163px;
          height: 9%;
          color: red;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../images/lines.png); }
          @media (max-width: 450px) {
            #customer-solutions .card-container .card-1 .card-content:after {
              left: 150px; } }
        #customer-solutions .card-container .card-1 .card-content h4 {
          margin: 0; }
        #customer-solutions .card-container .card-1 .card-content p {
          max-width: 263px;
          width: 100%;
          margin: 20px auto;
          font-weight: 200; }
        #customer-solutions .card-container .card-1 .card-content .card-list {
          list-style: none;
          text-align: left;
          margin-top: 72px;
          margin-bottom: 75px;
          padding-left: 35px; }
          #customer-solutions .card-container .card-1 .card-content .card-list li {
            position: relative;
            margin-top: 25px; }
            #customer-solutions .card-container .card-1 .card-content .card-list li span {
              margin-right: 10px; }
              #customer-solutions .card-container .card-1 .card-content .card-list li span .fa-check-circle {
                font-size: 22px;
                color: #aa8dc1; }
                #customer-solutions .card-container .card-1 .card-content .card-list li span .fa-check-circle:before {
                  bottom: -2px;
                  position: relative; }
        #customer-solutions .card-container .card-1 .card-content a {
          color: #000;
          text-decoration: underline;
          font-weight: 200; }
    #customer-solutions .card-container .card-2 {
      display: flex;
      flex-direction: column;
      height: 100%; }
      #customer-solutions .card-container .card-2 .card-head {
        position: relative;
        min-height: 158px;
        background-image: url("../images/shipping-box.png");
        background-repeat: no-repeat;
        background-size: 100%; }
        #customer-solutions .card-container .card-2 .card-head:before {
          content: '';
          position: absolute;
          left: 38%;
          top: 22%;
          border: 2px solid white;
          width: 96px;
          height: 90px;
          border-radius: 50%;
          background-image: url(../images/push-cart.png);
          background-color: white;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 57%; }
      #customer-solutions .card-container .card-2 .card-content {
        position: relative;
        padding: 45px 24px 62px 24px;
        height: 100%;
        background-color: #fff; }
        #customer-solutions .card-container .card-2 .card-content:after {
          content: '';
          position: absolute;
          width: 32px;
          left: 173px;
          top: 163px;
          height: 9%;
          color: red;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../images/lines.png);
          top: 164px; }
          @media (max-width: 450px) {
            #customer-solutions .card-container .card-2 .card-content:after {
              left: 150px; } }
        #customer-solutions .card-container .card-2 .card-content h4 {
          margin: 0; }
        #customer-solutions .card-container .card-2 .card-content p {
          max-width: 280px;
          width: 100%;
          margin: 11px auto;
          font-weight: 200; }
        #customer-solutions .card-container .card-2 .card-content .card-list {
          list-style: none;
          text-align: left;
          margin-top: 77px;
          margin-bottom: 81px;
          padding-left: 35px; }
          #customer-solutions .card-container .card-2 .card-content .card-list li {
            position: relative;
            margin-top: 25px; }
            #customer-solutions .card-container .card-2 .card-content .card-list li span {
              margin-right: 10px; }
              #customer-solutions .card-container .card-2 .card-content .card-list li span .fa-check-circle {
                font-size: 22px;
                color: #d1eaec; }
                #customer-solutions .card-container .card-2 .card-content .card-list li span .fa-check-circle:before {
                  bottom: -2px;
                  position: relative; }
        #customer-solutions .card-container .card-2 .card-content a {
          color: #000;
          text-decoration: underline;
          font-weight: 200; }

/**************************
  Customer Satisfication
**************************/
#customer-satisfication {
  padding: 40px 30px;
  text-align: center; }
  #customer-satisfication h1 {
    margin: 0;
    font-weight: 300; }
    @media (max-width: 576px) {
      #customer-satisfication h1 {
        font-size: 1.9rem;
        margin-bottom: 25px;
        font-weight: 400; } }
  #customer-satisfication p {
    max-width: 480px;
    width: 100%;
    margin: 10px auto 60px auto; }
  #customer-satisfication .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; }
  #customer-satisfication .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(322px, 392px));
    grid-template-rows: 482px;
    grid-column-gap: 30px;
    justify-content: center; }
    @media (max-width: 1200px) {
      #customer-satisfication .box-container {
        grid-row-gap: 10px; } }
    @media (max-width: 500px) {
      #customer-satisfication .box-container {
        grid-column-gap: 0;
        grid-template-rows: 410px; } }

/*# sourceMappingURL=stylesheet.css.map */
