#developer-body{

 #main-content{
background-image: linear-gradient(-92deg, #FADF8A 0%, #ED6149 96%);


.container{
  background: rgba(94,86,73,0.14);
  max-height: 96px;

  @media(max-width: 830px){

     max-height: 80px;
  }

}

  .nav-1{

      label{
        margin-bottom: auto;
        position: relative;
        top: 6px;
    }

     .shipoo-logo{
       min-width: 110px;
     }
}


  .translation-SO{
    display: inline-flex;
    justify-content: center;
    align-items: center;

      @media(max-width: 830px){
       display: none;
      }

    a{
      margin-left: 15px;
      margin-right: 0;
      text-decoration: none;
      color: $white-opacity;
    }

    img{
      margin-left: 7px;
    }

  }
 }

}
