#forms-body{
  background-color: #F2F2F2;


  section{
    max-width: 1600px;
    height: 1000px;
    margin: 100px auto;

    @media(max-width: 1630px){
      max-width: 1320px;
    }

    @media(max-width: 1380px){
      max-width: 1200px;
    }

    @media(max-width: $breakpoint-lg){
      padding: 0 40px;
    }

    @media(max-width: $breakpoint-phone){
      margin-top: 0;
      padding: 0;
    }



  .row{
    margin: 0;
  }

  .col-md-12,.col-lg-6:nth-of-type(1){
    background-image: linear-gradient(-175deg, #70E2CC 38%, #5BCDBF 98%);
    border-radius: 3px;
    height: 996px;

    @media(max-width: $breakpoint-phone){
      &.hide-sm{
        display: none;
      }
    }



    .beer{
      margin: 15px;
    }

    h1{
      font-family: Avenir-Light;
      font-size: 28px;
      max-width: 510px;
      margin: 80px auto;
      color: rgba(255,255,255,0.86);
      text-align: center;
    }
  }

    .rocket{
      display: block;
      margin: 0 auto;
    }

  .col-md-12,.col-lg-6:nth-of-type(2){
    background-image: linear-gradient(-180deg, #4B6079 21%, #243244 100%);
    height: 996px;
    padding-right: 41px;

    &.second-column{
        padding-left: 41px;
    }

    .cancel-icon{
    content: '';
    position: absolute;
    top: 17px;
    border: 2px solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D2D2D2;

    @media(max-width: $breakpoint-xs-phone){
      top: 25px;
      width: 45px;
      height: 45px;
    }

    img{
      display: block;
      margin: 9px auto;
      width: 30px;
      height: 30px;

    @media(max-width: $breakpoint-phone){
      width: 27px;
      height: 27px;
      margin: 11px auto;
    }

    @media(max-width: $breakpoint-xs-phone){
      width: 24px;
      height: 24px;
      margin: 9px auto;
    }

    }

    &:hover{
      background-color: #d2d2d291;
    }

    }

    .button-connect{
      display: flex;
      justify-content: flex-end;
      margin-top: em(23px);

      @media(max-width: $breakpoint-phone){
        margin-right: -20px;
      }

      .btn-grey{
        background: #5F6F86;
        border-radius: 100px 0 0 100px;
        padding: em(8px) em(25px);
        font-family: Avenir-Medium;
        font-size: em(18px);
        color: #D0D0D0;



        @media(max-width: 576px){
            font-size: em(17px);
        }

        @media(max-width: $breakpoint-xs-phone){
          display: none;
        }

      }

      .btn-green{
        background-image: linear-gradient(-169deg, #94E9E1 1%, #5BCEBF 52%);
        border-radius: 0 100px 100px 0;
        padding: em(8px) em(25px);
        font-family: Avenir-Medium;
        font-size: em(18px);
        color: rgba(255,255,255,0.86);

        @media(max-width: $breakpoint-phone){
            font-size: em(17px);
        }

        @media(max-width: $breakpoint-xs-phone){
          border-radius: em(110px);
          padding: em(8px) em(27px);
        }



      }

    }




      .form-header{
        display: flex;
        max-width: 580px;
        margin-top: em(200px);
        margin-left: auto;
        margin-right: auto;

        @media(max-width: 1380px){
          justify-content: center;
        }

        @media(max-width: $breakpoint-phone){
          margin-top: em(80px);
        }

        h3{
          font-family: Avenir-Light;
          color: #7F8791;
          font-size: em(33px);

          @media(max-width: $breakpoint-phone){
              font-size: em(28px);
              margin-bottom: 0;
              align-self: flex-end;
          }

          @media(max-width: $breakpoint-xs-phone){
            font-size: em(20px);
          }
        }

        .h3-active {
          color: $white;
          position: relative;


          &::before{
            content: "";
            border-bottom: em(1.2px) solid #1dd2b2;
            position: absolute;
            bottom: em(-5.92px);
            width: 100%;
          }
        }

        & .btw{
          margin: 0 em(22px);

          @media(max-width: 576px){
              font-size: em(26px);
          }

          @media(max-width: $breakpoint-xs-phone){
            font-size: em(22px);
          }

        }

      }



        form{
          font-family: Avenir-Light;
          max-width: 570px;
          margin: 63px auto 63px auto;

          .form-container{
            position: relative;
            margin-bottom: em(50px);

            @media(max-width: 1380px){
              width: 85%;
              margin: 0px auto 20px auto;
            }

            &::before{
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                border: em(1px) solid contextual(grey, input);
            }
          }

          label{
            text-transform: uppercase;
            color: $white;
            font-size: em(19px);
            margin-bottom: em(8px);

            @media(max-width: $breakpoint-phone){
              font-size: em(17px);
            }

          }

          input{
            display: block;
            border: none;
            background-color: transparent;
            font-size: em(19px);
            padding-bottom: em(12px);

            @media(max-width: $breakpoint-phone){
              font-size: em(18px);
            }

            &::placeholder{
              color: contextual(grey, input);
            }

            &::after{
              width: 100%;
              bottom: 0;
              color: red;
            }
          }

          .agree-container{
            position: relative;
            margin-bottom: 35px;


            &::before{
              content: '';
              position: absolute;
              background-image: url("../images/checkbox.png");
              background-repeat: no-repeat;
              width: 35px;
              height: 30px;
            }

            label{
              display: inline-block;
              color: contextual(grey, input);
              padding-left: 40px;
              font-size: 18px;
              font-weight: 400;
              text-transform: none;
            }

            @media(max-width: 1380px){
              display: block;
              width: 85%;
              margin: em(40px) auto em(30px) auto;
            }

            span{
              position: relative;
              color: $white;
              font-weight: 400;

              &::before{
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                border: 1px solid #1dd2b2;
                margin-bottom: -0.3125em;
              }
            }



            a{
              text-decoration: none;
            }



          } // Closing Agree Container

          .register-container{

            @media(max-width: 1380px){
              width: 85%;
              margin: 0 auto;
            }

            .btn-green{
              background-image: linear-gradient(-169deg, #94E9E1 1%, #5BCEBF 52%);
              border-radius: 100px 100px;
              padding: em(9px) em(57px);
              font-family: Avenir-Medium;
              font-size: em(18px);
              color: rgba(255,255,255,0.86);
              margin-right: em(24px);

            @media(max-width: $breakpoint-phone){
              padding: em(8px) em(50px);
              margin-bottom: em(20px);
            }

            @media(max-width: $breakpoint-xs-phone){
              padding: em(7px) em(40px);
              margin-bottom: em(20px);
            }

            }
            p{
              display: inline-block;
              position: relative;
              color: contextual(grey, input);
              font-size: em(18px);

              &::before{
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                border: 1px solid #1dd2b2;
                margin-bottom: em(-5px);
              }
            }
          }

        } // Closing Form







  } // Closing Second Column

} // Closing Section
}
