

#forms-body{
  background-color: $Gumbo;
  padding: 70px;

  @media(max-width: $breakpoint-phone){
    padding: 40px 10px 40px 10px;
  }

 a{
   text-decoration: none;
 }
  .container{

    @media(max-width: $breakpoint-lg ){
          max-width: 780px;
    }

    .form-container{
      padding: 49px 30px 60px 30px;
      border-radius: 2px;
      border: 2px solid $white;
      background-color: $white;
      position: relative;

       @media(max-width: 400px){
          padding: 49px 10px 60px 10px;
       }



      &::before{
        @include bubble-group($top:-177px, $left: 5px){
          transform: rotate(180deg);
        }
      }

      &::after{
          @include bubble-group($bottom:-177px, $right: 4px);
      }

      .row{
        width: 100%;
        margin: 0;
      }
      .col-sm-6{
        text-align: center;

        .document-pray{
          max-width: 38%;
          margin-bottom: 50px
        }

        .table{
          max-width: 62%;
          margin-top: -10px;
        }



        h1{
          font-size: 25px;
        }
        p{
          font-size: 15px;
          width: 100%;
          max-width: 375px;
          margin: 0 auto;
        }
      }

      form{
        margin-top: 40px;

        input{
          border-top: none;
          border-left: none;
          border-right: none;
          text-align: center;
          width: 56%;
          padding-bottom: 13px;
          font-size: 15px;
          margin-bottom: 20px;


          &::placeholder{
            color: #B5BBB5;
          }

          &[type="text"]{
            background-image: url(../images/user.png);
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: left 5px;
          }

          &[type="email"]{
            background-image: url(../images/envelope.png);
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: left 7px;
          }

          &[type="password"]{
            background-image: url(../images/lock.png);
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: left 7px;
          }

        }
        .btn-cornflower{

          &:hover{
            transform: translatey(2px);
          }

          &::before{
           @include arrow-right;
          }
        }
      } // Closing Form

      .login-exist-link{
         color: $black;
         margin-right: 10px;
      }

      .login-span-link{
        color: darkorange;
        font-weight: 500;
        font-size: 15px;
      }

    } // Closing Form Container

  }

}
