.btn-cornflower{
display: block;
position: relative;
margin: 0 auto;
padding: 10px 71px;
background: #88CAC9 !important;
border-radius: 44px;
color: #FFFFFF;
text-align: center;
background: #FFFFFF;
margin-top: 25px;
margin-bottom: 35px;
}
