
.btn-cornflower{
display: block;
position: relative;
margin: 0 auto;
padding: 10px 71px;
background: #88CAC9 !important;
border-radius: 44px;
color: #FFFFFF;
text-align: center;
background: #FFFFFF;
margin-top: 25px;
margin-bottom: 35px;
}


.btn-white{
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0.550rem 3.45rem;
  font-weight: 400;
  font-size: 18px;
  color: #7247BB;
  text-align: center;
  margin-right: 30px;
}

.btn-transparent{
  background: transparent;
  border: 2px solid $white;
  border-radius: 5px;
  padding: 0.480rem 3.45rem;
  font-weight: 300;
  font-size: 18px;
  color: $white;
  text-align: center;
}
