
//
// Some Useful color Arranged by color
//


$greyish: #acb8bf;
$white: #fff;
$black: #000;
$white-grey: #f3f6f8; // White with some grey color



// Content colors

$dove-grey: #6b6767; // grey and black mixed
$jungle-green: #28A1A3;

// Button colors

$java-blue: #23b6c5;




//
// Breakpoints
//

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
