  //
  // Some Useful Fonts for the text
  //

  $Lato-font: 'Lato', sans-serif;


  // Font Sizes

  $base__font-size : 16px;



  //
  // Some Useful color Arranged by color
  //


    $greyish: #acb8bf;
    $white: #fff;
    $white-opacity: #ffffffed;
    $grey-opacity: #ffffffb8;
    $black: #000;
    $white-grey: #f3f6f8; // White with some grey color
    $merlin: #3C3935; // Developers Page Footer Color

    // Footer colors
    $dust-grey: #9C9698;

  // Border colors

    $border-bottom-grey: #3C3F46;

  // Content colors

  $Gumbo: #71A7A7;   // Light Purple
  $Coral: #FE7A44;   // Dark Orange
  $Salomie: #FFDE92; // Bright Yellow
  $Seagull : #7FB9E3; // Bluish Color

  // Gradient Color
    $Mountain-meadow: linear-gradient(to right top, rgb(20, 177, 193), rgb(0, 177, 179), rgb(0, 176, 160), rgb(0, 174, 138), rgb(16, 171, 112));
    $Green-gradient: linear-gradient(-182deg, #B8EEA5 0%, #72C785 69%);
    $Blue-gradient: linear-gradient(-152deg, #74D3CF 22%, #2F8EC0 65%);
    $Purple-gradient:  linear-gradient(-151deg, #6697D5 8%, #5870B1 66%);

    $dove-grey: #6b6767; // grey and black mixed
    $jungle-green: #28A1A3;

    $Keppel: #3CB28B;


    //
    //  Buttons Colors
    //

    $java-blue: #23b6c5;

    $fuchsia-Blue : #7E54BE;
    $fuchisa-Pink : #C556C3;



    // Button Hovers
    $Calypso: #27717D;


    // List colors

    $cornflower-Blue: #6772e5;
    $light-Jungle-Green: #24b47e;
    $curious-Blue: #3297D3;
    $true-V: #8F6ED5;
    $anzac: #e39f48;
    $amethysy: #B76AC4;
    $light-purple:#ab4040;


    // Color Pallets


    $pallets: (
     grey: (
       base : $greyish,
       dark : #787673,
     )

    );




  //
  // Breakpoints
  //

  $breakpoint-phone: 576px;
  $breakpoint-tablet: 768px;
  $breakpoint-lg: 992px;
  $breakpoint-xl: 1200px;

  //
  // Theme Colors
  //


  // The @each directive sets theme

  $themes:(
     'Products' : $cornflower-Blue,
     'Cases': $light-Jungle-Green,
     'Prices' : $curious-Blue,
     'Developers' : $true-V,
     'Company' : $light-purple,
     'Payments' :$anzac,
     'Industry' : $amethysy,
  );

  //
  // Contextual Colors
  //
  $text: (
    grey:(
      'base' : grey,
      'p' : #CCC8D2,
      'h1' : #C9C9D5,
    ),
    pink:(
    'base' : pink,
    'h2'   : $fuchisa-Pink,
    ),
    orange:(
     'base' : orange,
     'h2'   : $Coral,
    ),
    yellow:(
     'base' : yellow,
     'h2'   : $Salomie,
    ),
    blue:(
     'base' : blue,
     'h2'   : $Seagull,
    )
  );
