
//
// Some Useful color Arranged by color
//


$greyish: #acb8bf;
$white: #fff;


// Content colors

$dove-grey: #6b6767; // grey and black mixed
$jungle-green: #28A1A3;




//
// Breakpoints
//

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-lg: 992px;
